p {
font-family: sans-serif;
color: green
font-weight: bolder;
}

h1 { color: black; }

h2 { color: rgb(128, 0, 196); }

body{

font-size: 50px;

background-image: url("https://i.pinimg.com/736x/99/79/50/997950ee7e06f0dbd76e1ef2f3b1a3a7.jpg");

background-repeat: repeat-x;

background-size: 500px 300px;

background-opacity: 0.2;

background-position: 500px 10px;

}