p {
font-family: sans-serif;
color: green
font-weight: bolder;
}

h1 { color: blue; }

h2 { color: rgb(128, 0, 196); }

body{

font-size: 16px;

background-image: url("https://cdn1.iconfinder.com/data/icons/international-circular-flags/512/united_states_usa_america_flag_circle-512.png");

background-repeat: repeat-x;

background-position: 370px 20px;

}