p {
font-family: sans-serif;
color: green
font-weight: bolder;
}

h1 { color: orange; }

h2 { color: rgb(128, 0, 196); }

body{

font-size: 25px;

background-image: url("https://image.flaticon.com/icons/png/512/48/48759.png");

background-repeat: repeat-x;

background-image-size: 30px 30px;

background-position: 33px 20px;

}